APP_KEY="L9T#Slsj!poqS1#o08MnbSWA#$iBU*VY5EUe^&xY"
APP_TOKEN="@#Slsjpoq$S1o08#MnbAiB%UVUV&Y*5EU@exS1o!08L9TSlsjpo#FKDFJSDLFJSDLFJSDLFJSDQY"
APP_URL="http://localhost:4000/"
APP_NAME="Leva"
HOST="localhost"
PORT=4000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=

CLIENT_ID=896233040149-18fkqfdmm8650336pm0ln18u9cvp0pbk.apps.googleusercontent.com
CLIENT_SECRET=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

EXPIRESIN=2538000 #30 days


# outlook credential
# to get auth code for token it's for frontend 
OUTLOOK_AUTHORISE_URL="https://login.microsoftonline.com/3b492579-c59d-4f1a-aff7-42ab273ae514/oauth2/v2.0/authorize?response_type=code&client_id=a7ab1433-8636-4cd3-8833-75c7c47dc1d6&state=1234&scope=offline_access User.Read Calendars.ReadWrite&redirect_uri=http://localhost:3000/outlook"
# for generate outlook access token
OUTLOOK_TOKEN_URL="https://login.microsoftonline.com/3b492579-c59d-4f1a-aff7-42ab273ae514/oauth2/v2.0/token"
OUTLOOK_CLIENT_ID="a7ab1433-8636-4cd3-8833-75c7c47dc1d6"
OUTLOOK_SCOPE="https://graph.microsoft.com/.default"
OUTLOOK_REDIRECT_URI="http://localhost:3000/outlook"
OUTLOOK_GRANT_TYPE="authorization_code"
OUTLOOK_CLIENT_SECRET="0oK8Q~.rb~Q~Zb41qGUZQvm9zV~12m04_Hnz5b3p"

# Test user
# AdeleV@testmedeloopdemo.onmicrosoft.com
# Zombie@1234